* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
  body {
    background-image: url('../img/smoky mountains.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
  }

.container {
  background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent white background for content readability */
  padding: 20px; /* Add padding to the container to create the margin */
}

footer {
  background-color: rgba(255, 255, 255, 0.8); /* Match footer background to container background */
  padding: 20px; /* Add padding to the footer */
}
body {
  font-family: 'Lato', sans-serif;
  background-color: #f7f7f7;
  color: #333;
}

/* Header styles */
header {
  background-color: #c66c36;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 32px;
  margin-bottom: 10px;
  transition: color 0.3s;
}

header h1:hover {
  color: #294a18; /* Change color on hover */
}
h2 {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 20px;
}
p{
  line-height: 1.5rem;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #294a18; /* Change color on hover */
}

/* Main content styles */
.container {
  margin: 20px auto;
  width: 80%;
  max-width: 1200px;
}

#content {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

#articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.post {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr .5fr;
  gap: 1rem;
  margin: .5rem;
  background-color: rgb(255, 255, 255, 0.7);
}

.post p {
  height: auto;
  padding: 0rem 1rem 0rem 1rem;
}

/* Sidebar styles */
aside {
  background-color: transparent; /* Change background color to transparent */
  padding: 20px;
}

.widget {
  margin-bottom: 20px;
}

.widget header h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.widget p {
  font-size: 14px;
  line-height: 1.5;
}

.widget a {
  color: #c66c36;
  text-decoration: none;
  transition: color 0.3s;
}

.widget a:hover {
  color: #294a18; /* Change link color on hover */
}

/* Footer styles */
footer {
  background-color: #c66c36;
  color: #fff;
  text-align: center;
  padding: 10px;
}

footer h6 {
  font-size: 14px;
}