
body {
    background-image: url('../img/cherry-island.jpeg'); /* Background image */
    background-size: cover; /* Cover the entire viewport */
    font-family: Arial, sans-serif; /* Use a common sans-serif font for better readability */
    margin: 0; /* Remove default margin */
    padding: 20px; /* Add padding for better spacing */
 }
 
 
 header {
    text-align: center;
    margin-bottom: 20px;
 }
 
 
 #main-heading {
    color: #5f0126; /* Pinkish-red */
    text-shadow: 2px 2px 4px #b45a69 /* Cool shadow effect */
 }
 
 
 .primary {
    border: none; /* Remove border */
 }
 
 
 .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive grid layout */
    gap: 20px; /* Gap between grid items */
    align-items: stretch; /* Stretch items to fill the container */
}

 
 
.grid-item {
    background-color: rgba(95, 1, 38, 0.6); /* Semi-transparent white background for each grid item */
    border-radius: 10px; /* Rounded corners for grid items */
    padding: 20px; /* Padding for grid items */
    text-align: center; /* Center align text */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Shadow effect */
    transition: all 0.3s ease; /* Smooth transition for hover effect */
}

section:nth-of-type(1) h2 {
    color: #5f0126; /* Set color for Thomas section heading */
}

/* Style for Bruce section */
section:nth-of-type(2) h2 {
    color: #5f0126; /* Set color for Bruce section heading */
}

.grid-item:hover a {
    color: #5f0126; /* Darker text color on hover */
}

.grid-item:hover {
    background-color: rgba(255, 255, 255, 0.8); /* Lighter background color on hover */
    transform: translateY(-5px); /* Move item slightly up on hover */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Increase shadow on hover */
}

.grid-item:hover a {
    color: #5f0126; /* Darker text color on hover */
}

a {
    color: #fbd0d9;
    text-decoration: none; /* Remove underline */
    transition: color 0.3s ease; /* Smooth transition for link color */
}

.icon {
    margin-bottom: 10px; /* Add space between icon and text */
    font-size: 20px; /* Increase the icon size */
}