
body {
    background-image: url('../img/coolio.jpeg'); /* Background image */
    background-size: cover; /* Cover the entire viewport */
    font-family: Arial, sans-serif; /* Use a common sans-serif font for better readability */
    margin: 0; /* Remove default margin */
    padding: 20px; /* Add padding for better spacing */
}

header {
    text-align: center;
    margin-bottom: 20px;
}

#main-heading {
    color: #fff; /* Pinkish-red */
    text-shadow: 2px 2px 4px #000; /* Cool shadow effect */
}

.primary {
    border: none; /* Remove border */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive grid layout */
    gap: 20px; /* Gap between grid items */
}

.grid-item {
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent white background for each grid item */
    border-radius: 10px; /* Rounded corners for grid items */
    padding: 20px; /* Padding for grid items */
    text-align: center; /* Center align text */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Shadow effect */
}

a {
    color: #fff; /* Muted green */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s ease; /* Smooth transition */
}

a:hover {
    color: #000000; /* Pinkish-red on hover */
    text-shadow: 2px 2px 4px #4a4747; /* Cool shadow effect on hover */
}

.icon {
    margin-right: 5px; /* Add some space between the icon and the text */
    font-size: 20px; /* Increase the icon size */
}