/*header nav main layout*/
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background-image: url('../img/smoky mountains.jpg');
  background-size: cover;
  background-position: center;
 }
 .container {
  display: flex;
  padding: 0.3rem 0.5rem;
 }
 .header {
  position: fixed;
  top: 0; 
  left: 0; 
  right: 0; 
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 900;
  line-height: 1;
  height: 80px;
}
 
 
    .logo img {
        max-width: 100%;
        height: auto;
        width: 100px;
        height: auto;
        padding-left: 3vh;
    }
 
  .header a:hover {
        color: #fff;
  }
  .header-nav {
    align-items: center;
  }
    .header-nav a {
      margin-left : 0.3rem;
      margin-right: 0.9rem;
      text-decoration: none;
      padding: 1rem;
      color: #c66c36;
      z-index: #fff;
      text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    }

        /*main content*/
        .content p{
          color:#fff;
        }
 
 
        .content {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          color: #c66c36; 
          font-weight: 900;
          text-shadow: 2px 2px 4px rgba(0,0,0,0.7); 
          background-color: rgba(0, 0, 0, 0.6); 
          padding: 20px; 
          border-radius: 10px; 
        }

        /* about content*/

        .fade img {
          width: 700px; /* Adjust the width value as needed */
          height: auto;
        }

        
        .fade {
          position: absolute;
          width: 60vw;
          max-width: 700px;
          margin: 24px auto;
          margin-left: 27%;
          
        }
        
        * Customize Previous/Next/Dots/Autoplay */
        
        .slick-autoplay-toggle-button,
        .slick-prev .slick-prev-icon, .slick-next .slick-next-icon,
        .slick-dots li button .slick-dot-icon,
        .slick-dots li.slick-active button .slick-dot-icon {
        color: white;
        }
        
        /* Customize Previous/Next/Dots/Autoplay - Active State */
        
        .slick-next:focus .slick-next-icon,
        .slick-next:focus .slick-prev-icon,
        .slick-prev:focus .slick-next-icon,
        .slick-prev:focus .slick-prev-icon,
        .slick-dots li button:focus .slick-dot-icon:before,
        .slick-dots li.slick-active button:focus .slick-dot-icon,
        .slick-autoplay-toggle-button:focus 
        {
          color:white;
        }
        
        .card{
          height:300px;
          display: grid;
          grid-template-columns: 180px 1fr;
          padding: 2rem;

        }

        .slide{
          margin: 120px auto 0 auto;
  
        }

        .overlay{
          position:absolute;
          bottom:0;
          left:0;
          color: #fff;
          background:rgba(255, 255, 255, 0.7);
          padding:20px;
        }
        
        .overlay p{
          color:#c66c36
        }

      

        /*activites content*/
      
      aside .container .widget {
          background-color: rgba(0,0,0,0.5);
          padding: 20px;
          border-radius: 5px;
      }
      
      aside h2 {
          color: #c66c36;
      }
      
      aside p {
          color: #000;
      }

        /* activites content*/
       

      img{
        max-width:100%;
        border-radius: 10px;
        
      }

      aside .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        background-color:rgba(0, 0, 0, 0.5);
        margin: 140px auto 0 auto;
        width:80vw;
        max-width: 3000px;
        border-radius: 10px;
        padding: 20px;
    }


aside .container .widget {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 5px;
  }

  aside .container .widget:hover {
    transform: scale(1.05); /* Increase the size of the widget container on hover */
    transition: transform 0.3s ease; /* Smooth transition effect */
}

  aside h2{
    color:#c66c36
  }


    aside p{
      color: #000;
    }
    
    /*footer */
    footer {
      position: fixed;
       bottom: 0;
       width: 100%;
       text-align: center;
       padding: 1px 0;
       background-color: rgba(0, 0, 0, 0.5);
       color: #c66c36;
       font-weight: 900;
       height: 48px;
}


#wufoo-z1lbx25i0zfi9nk {
  padding-top: 80px; /* Adjust according to the height of the navbar */
  text-align: center;
  margin-top: 20px; /* Adjust the top margin as needed */
  width:50vw;
  max-width: 3000px;
  margin: 40px auto 0 auto;

}

@media all and (max-width: 600px) {
  .contact-container {
    padding-top: 140px; /* Adjust for smaller screens */
  }
}
        
  @media all and (max-width: 600px) {
  .header {
    position: inherit;
  }
  
  .header, .header-nav {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    align-content: center;
    padding: 0;
    background-color: #fff;
  }
  } 
