/*header nav main layout*/
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background-image: url('../img/smoky mountains.jpg');
  background-size: cover;
  background-position: center;
 }
 .container {
  display: flex;
  padding: 0.3rem 0.5rem;
 }
 .header {
  position: fixed;
  top: 0; 
  left: 0; 
  right: 0; 
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 900;
  line-height: 1;
  height: 80px;
}
 
 
    .logo img {
        max-width: 100%;
        height: auto;
        width: 100px;
        height: auto;
        padding-left: 3vh;
    }
 
  .header a:hover {
        color: #fff;
  }
  .header-nav {
    align-items: center;
  }
    .header-nav a {
      margin-left : 0.3rem;
      margin-right: 0.9rem;
      text-decoration: none;
      padding: 1rem;
      color: #c66c36;
      z-index: #fff;
      text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    }
        .background {
            position: relative;
            height: 100%;
            width: 100%;
            background-image: url("../img/smoky mountains.jpg"); /* Use the same background image as the body */
            background-repeat: repeat;
            background-position: center;
            background-size: cover;
        }

        /*main content*/
        .content p{
          color:#fff;
        }
 
 
        .content {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          color: #c66c36; 
          font-weight: 900;
          text-shadow: 2px 2px 4px rgba(0,0,0,0.7); 
          background-color: rgba(0, 0, 0, 0.6); 
          padding: 20px; 
          border-radius: 10px; 
        }

        /* about content*/

        .about-container h2{
          text-align: center;
          color:#c66c36;
        }
        
        .about-info p{
          margin: 20px;
        }
        
        .about-container {
          width: 80vw;
          margin: 140px auto 0 auto;
          background-color: rgba(0, 0, 0, 0.6);
          border-radius: 10px;
          color: #fff;
          text-shadow: 2px 2px 4px rgba(0,0,0,0.8); 
          font-weight: 500;
          display: grid;
        }
        
         .images-container {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 20px;
          justify-content: center;
          margin: 20px;
          
        }
        
        .about-info {
          margin: 0.4em;
          grid-column: 1 / -1;
          object-fit: cover;
        }
        img{
          max-width:100%;
        }

        /* activites content*/

        .grid-item {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 20px;
          justify-content: center;
          margin: 20px;
          margin: 140px auto 0 auto;
          background-color: rgba(0, 0, 0, 0.6);
          padding: 20px;
          border-radius: 5px;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      }
      
      .grid-item h2 {
          color: #c66c36;
          margin-bottom: 20px;
      }
      
      .activity h3 {
          color: #c66c36;
      }
      
      .activity p{
          color:#fff
      }
  
      .activity img {
          max-width: 100px;
      }
        
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1px 0;
  background-color: rgba(0, 0, 0, 0.5);;
  color: #c66c36;
  font-weight: 900;
  height: 48px;
}
        
  @media all and (max-width: 600px) {
  .header {
    position: inherit;
  }
  .header, .header-nav {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    align-content: center;
    padding: 0;
    background-color: #fff;
  }
  } 